
@{
    /**/

    ViewBag.Title = "Gallery";
    
}

<h2>Gallery</h2>

<div class="classes py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize font-weight-light text-dark text-center mb-sm-5 mb-4">
            choose your
            <span class="font-weight-bold">course</span>
        </h3>
        <div class="row pt-4">
            <div class="col-lg-4 col-news-top text-center">
                <!-- Left to right -->
                <!-- normal -->
                <div class="ih-item circle effect16 left_to_right mx-auto">
                    <a href="language.html">
                        <div class="img">
                            <img src="@Url.Content("~/Content/educss/images/c1.jpg")" alt="img" class="img-fluid rounded-circle">
                        </div>
                        <div class="info">
                            <h3 class="text-capitalize text-white">language</h3>
                            <p>Description goes here</p>
                        </div>
                    </a>
                </div>
                <h6 class="small-heading text-capitalize text-center mt-4">
                    <a href="language.html" class="text-dark">
                        language
                        <i class="fas fa-long-arrow-alt-right ml-1"></i>
                    </a>
                </h6>
                <!-- end normal -->
                <!-- end Left to right -->
            </div>
            <div class="col-lg-4 col-news-top text-center my-lg-0 my-sm-5 my-4">
                <!-- Left to right -->
                <!-- normal -->
                <div class="ih-item circle effect16 left_to_right mx-auto">
                    <a href="communication.html">
                        <div class="img">
                            <img src="@Url.Content("~/Content/educss/images/c2.jpg")" alt="img" class="img-fluid rounded-circle">
                        </div>
                        <div class="info">
                            <h3 class="text-capitalize text-white">communication</h3>
                            <p>Description goes here</p>
                        </div>
                    </a>
                </div>
                <h6 class="small-heading text-capitalize text-center mt-4">
                    <a href="communication.html" class="text-dark">
                        communication
                        <i class="fas fa-long-arrow-alt-right ml-1"></i>
                    </a>
                </h6>
                <!-- end normal -->
                <!-- end Left to right -->
            </div>
            <div class="col-lg-4 col-news-top text-center">
                <!-- Left to right -->
                <!-- normal -->
                <div class="ih-item circle effect16 left_to_right mx-auto">
                    <a href="business.html">
                        <div class="img">
                            <img src="@Url.Content("~/Content/educss/images/c3.jpg")" alt="img" class="img-fluid rounded-circle">
                        </div>
                        <div class="info">
                            <h3 class="text-capitalize text-white">business</h3>
                            <p>Description goes here</p>
                        </div>
                    </a>
                </div>
                <h6 class="small-heading text-capitalize text-center mt-4">
                    <a href="business.html" class="text-dark">
                        business
                        <i class="fas fa-long-arrow-alt-right ml-1"></i>
                    </a>
                </h6>
                <!-- end normal -->
                <!-- end Left to right -->
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-news-top text-center">
                <!-- Left to right -->
                <!-- normal -->
                <div class="ih-item circle effect16 left_to_right mx-auto">
                    <a href="software.html">
                        <div class="img">
                            <img src="@Url.Content("~/Content/educss/images/c4.jpg")" alt="img" class="img-fluid rounded-circle">
                        </div>
                        <div class="info">
                            <h3 class="text-capitalize text-white">software</h3>
                            <p>Description goes here</p>
                        </div>
                    </a>
                </div>
                <h6 class="small-heading text-capitalize text-center mt-4">
                    <a href="software.html" class="text-dark">
                        software
                        <i class="fas fa-long-arrow-alt-right ml-1"></i>
                    </a>
                </h6>
                <!-- end normal -->
                <!-- end Left to right -->
            </div>
            <div class="col-lg-4 col-news-top text-center  my-lg-0 my-sm-5 my-4">
                <!-- Left to right -->
                <!-- normal -->
                <div class="ih-item circle effect16 left_to_right mx-auto">
                    <a href="social_media.html">
                        <div class="img">
                            <img src="@Url.Content("~/Content/educss/images/c6.jpg")" alt="img" class="img-fluid rounded-circle">
                        </div>
                        <div class="info">
                            <h3 class="text-capitalize text-white">social media </h3>
                            <p>Description goes here</p>
                        </div>
                    </a>
                </div>
                <h6 class="small-heading text-capitalize text-center mt-4">
                    <a href="social_media.html" class="text-dark">
                        social media
                        <i class="fas fa-long-arrow-alt-right ml-1"></i>
                    </a>
                </h6>
                <!-- end normal -->
                <!-- end Left to right -->
            </div>
            <div class="col-lg-4 col-news-top text-center">
                <!-- Left to right -->
                <!-- normal -->
                <div class="ih-item circle effect16 left_to_right mx-auto">
                    <a href="photography.html">
                        <div class="img">
                            <img src="@Url.Content("~/Content/educss/images/c5.jpg")" alt="img" class="img-fluid rounded-circle">
                        </div>
                        <div class="info">
                            <h3 class="text-capitalize text-white">photography </h3>
                            <p>Description goes here</p>
                        </div>
                    </a>
                </div>
                <h6 class="small-heading text-capitalize text-center mt-4">
                    <a href="photography.html" class="text-dark">
                        photography
                        <i class="fas fa-long-arrow-alt-right ml-1"></i>
                    </a>
                </h6>
                <!-- end normal -->
                <!-- end Left to right -->
            </div>
        </div>
    </div>
</div>

