@model IEnumerable<OlwandleHotel.Models.Rooms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/newlwayout.cshtml";

}
<style>
    body {
        background-image: url("../../Content/img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-041.jpg");
    }
</style>

<h2 class="title text-center">Room Mangement</h2>

<a class="btn btn-default" href="@Url.Action("Create","Rooms")">
    <i class="fa fa-plus"></i>
    Create New
</a>
<link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

<table class="table table-hover table-condensed" id="my_list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roomtype.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoBooked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
             
            <th>
                @Html.DisplayNameFor(model => model.numguests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numbeds)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roomtype.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorNum)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Rooms", new { id = item.RoomNo })" title="View Details" , rel="nofollow">
                    <img src="data:image/png;base64,@Convert.ToBase64String(item.Picture, 0, item.Picture.Length)" style="width: 60px; height: 60px" alt="" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numguests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numbeds)
            </td>
            <td>
                @*<a href="@Url.Action("Details", "Rooms", new { id = item.RoomNo })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"></i></a>
        <a href="@Url.Action("Edit", "Rooms", new { id = item.RoomNo })" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs"><i class="fa fa-edit"></i></a>
        <a href="@Url.Action("Delete", "Rooms", new { id = item.RoomNo })" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs"><i class="fa fa-times"></i></a>*@
                <a href='@Url.Action("Edit","Rooms",new { id=item.RoomNo })' class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a href='@Url.Action("Details","Rooms", new { id=item.RoomNo })' class="btn btn-xs btn-info modal-link"><span class="glyphicon glyphicon-info-sign"></span> Details</a>
                <a href='@Url.Action("Delete","Rooms", new { id=item.RoomNo })' class="btn btn-sx btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
</tr>
        }
    </tbody>

</table>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $('#my_list').dataTable(
        {
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [
                'pageLength', 'pdf', 'print'
            ]
        }
    );
    $('#my_list')
        .removeClass('display')
        .addClass('table table-condensed table-hover');
</script>



@*<p>

    <input class="btn btn-primary" type="button" value="Print Bills" id="btnPrint" />
</p>
<div id="dvContainer">
    <table class="table table-hover table-condensed">
        <tr>
            <th>
                Room Number
            </th>
            <th>
                Room Type
            </th>
            <th>
                Floor Number
            </th>
            <th>
                Status
            </th>
            <th>
                Basic Price
            </th>
            <th>
                Quantity
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roomtype.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roomtype.BasicCharge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roomtype.Qty)
                </td>
                <td>
                    <a href='@Url.Action("Edit","Rooms",new { id=item.RoomNo })' class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a href='@Url.Action("Details","Rooms", new { id=item.RoomNo })' class="btn btn-xs btn-info modal-link"><span class="glyphicon glyphicon-info-sign"></span> Details</a>
                    <a href='@Url.Action("Delete","Rooms", new { id=item.RoomNo })' class="btn btn-sx btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                </td>
            </tr>

        }
    </table>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("#btnPrint").live("click", function () {
        var divContents = $("#dvContainer").html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    });
</script>*@