@model OlwandleHotel.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/newlwayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.applicationUser.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applicationUser.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rooms.RoomStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rooms.RoomStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numGuests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBooked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBooked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkedOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_CheckedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_CheckedOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
