@model OlwandleHotel.Models.RegisterViewModel
@{
    ViewBag.Title = "My Bookings";
}
<h2>@ViewBag.Title</h2>
<div>
    <h4>Guest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        @*<dt>
                @Html.Label("Delete Account")
            </dt>
            <dd>
                @Html.ActionLink("Click Here to Delete", "Delete", new { id = Model.UserName })
            </dd>*@
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.reservationns)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Checked In Date</th>
                    <th>Checked Out Date</th>
                    <th>Number of Guests</th>
                    <th>Number of Days</th>
                    <th>Room No.</th>
                    <th>Floor Number</th>
                    <th>Room Type</th>
                    <th>Room No.</th>
                    <th>Room Price</th>
                </tr>
                @foreach (var item in Model.reservationns)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.checkInDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.checkOutDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numGuests)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DayNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rooms.RoomNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rooms.FloorNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rooms.Roomtype.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rooms.Roomtype.BasicCharge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Controller = "Reservations1", Action = "Edit", id = item.BookingID }) |
                        @Html.ActionLink("Details", "Details", new { Controller = "Reservations1", Action = "Details", id = item.BookingID }) |
                        @Html.ActionLink("Delete", "Delete", new { Controller = "Reservations1", Action = "Details", id = item.BookingID })
                    </td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @*Use the browser's internal history. Otherwise Redirectin to all Appointments*@
    <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
</p>
