@model IEnumerable<OlwandleHotel.Models.GuestDetails>

@{
    ViewBag.Title = "guestDetails";
    Layout = "~/Views/Shared/newlwayout.cshtml";
}
<style>
    body {
        background-image: url("../../Content/img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-041.jpg");
    }
</style>
<h2>My Bookings</h2>

<div style="background-color:lawngreen;">
    @TempData["payment"] 
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numGuests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>*@

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkInDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkOutDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numGuests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasicCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>*@

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.checkInDate }) |
            @Html.ActionLink("Details", "Details", new { id = item.checkInDate }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.checkInDate })
        </td>
    </tr>
}

</table>
