@model OlwandleHotel.Models.Payments

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/newlwayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Payments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reserve.userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reserve.userID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paidEstCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paidEstCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_PaidEstCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_PaidEstCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.refNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.refNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paidTotCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paidTotCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_PaidTotCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_PaidTotCost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
