
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="~/Content/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/css/style.green.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->


    <link rel="stylesheet" href="@Url.Content("~/Content/NavMenu.css")">
    @RenderSection("scripts1", required: false)



</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <!-- Navbar Header--><a href="@Url.Action("Index","Home")" class="navbar-brand">
                        <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Christian</strong><strong> High School</strong></div>
                        <div class="brand-text brand-sm"><strong class="text-primary">Durban</strong><strong>Secondary</strong></div>
                    </a>
                    <!-- Sidebar Toggle Btn-->
                    <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>



                </div>
                <div class="container">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Admission", "Admission", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>



        </nav>
    </header>


    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar" class="shrinked">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="~/Content/img/parenticon.png" alt="ProFile Page" class="img-fluid rounded-circle"></div>
                <div class="title">


                </div>
            </div>
            <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li class="active"><a href="@Url.Action("DashBordPage", "Home")"> <i class="icon-home"></i>Home </a></li>
                @*<li><a href="tables.html"> <i class="icon-grid"></i>Events</a></li>*@
                <li><a href="@Url.Action("Index","Events")"> <i class="icon-info"></i>Events </a></li>
                @*<li>< a href="@Html.ActionLink("Events", "Index", "Events", new { area = "" }, new { @class = "navbar-brand" }) "> <i class="icon-info"></i>/li>*@
                <li><a href="@Url.Action("Profile","Home")"> <i class="icon-info"></i>School </a></li>
                <li>
                    <a href="@Url.Action("StudentEnrollment","Students")" aria-expanded="false" data-toggle="collapse"> <i class="icon-contract"></i>Admission </a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="#">Requirements</a></li>
                        <li><a href="#">Process</a></li>
                    </ul>
                </li>
                <li> <a href="@Url.Action("Contact", "Home")"> <i class="fa fa-phone"></i>Contact Us </a> </li>
            </ul>
        </nav>
        <!-- Sidebar Navigation end-->
        <div class="page-content active" style="padding-bottom: 70px;">
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">@ViewBag.Title</h2>
                </div>
            </div>


            <div class="container body-content">
                @RenderBody()
               
                
            </div>





          







            <footer class="footer">
                <div class="footer__block block no-margin-bottom">
                    <div class="container-fluid text-center">
                        <p class="no-margin-bottom">2019 &copy; . Design by Quality Control <a href="https://visualstudio.edunovation.com"></a>.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- JavaScript files-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/js/charts-home.js"></script>
    <script src="~/Content/js/front.js"></script>

</body>
</html>