<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .button {
            border-radius: 12px;
            background-color: #027b3be6;
            border: none;
            color: #FFF;
            text-align: center;
            font-size: 18px;
            padding: 12px;
            width: 309px;
            transition: all 0.5s;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>



</head>
<body style="background-image:url('/img/schoolX.jpg'); -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; background-size: cover;">
  
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  @DateTime.Now.Year -...</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
     @RenderSection("scripts1", required: false)
</body>
</html>
