@model OlwandleHotel.Models.VM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckoutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumGuests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VMK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
